:root {
  --white: #ffffff;
  --black: #000000;

  --red: #ff4a4a;
  --orange: #ec9704;
  --yellow: #f7c815;

  --light-blue: #69dcff;
  --dark-blue: #1a3740;

  --warm-brown: #9c4a1a;
  --light-brown: #a78b71;
  --dark-brown: #332415;
}
